.header__burger {
  display: none;
  width: 24px;
  height: 18px;
  background-image: url(../../../img/burgerClosed.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 18px;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: .2s ease-in-out;
}

@media screen and (max-width: 490px) {
  .header__burger {
    display: block;
  }

  .header__burger:hover {
    opacity: .6;
  }
}
