.elements__cards {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
  list-style: none;
}

@media screen and (max-width: 936px) {
  .elements__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 530px) {
  .elements__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
