.popup__close {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 32px;
  height: 32px;
  background-image: url(../../../img/button_close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0;
  background-color: transparent;
  padding: 0;
  transform: translate(100%, -100%);
  cursor: pointer;
  opacity: 1;
  transition: .2s ease-in-out;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 580px) {
  .popup__close {
    right: 0;
    top: -16px;
    transform: translate(0, -100%);
    width: 20px;
    height: 20px;
  }
}
