.profile__avatar-button {
  position: relative;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.profile__avatar-button::before {
  content: url(../../../img/avatar_edit.svg);
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
